.search-container {
  
  align-items: center;
}

.input-container {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(57, 60, 73, 1);
    border-radius: 4px;
    margin-right: 10px;
    width: 200px; 
    background-color: rgba(31, 29, 43, 0.08);
    color: white;
  }

  
  input::placeholder {
    color: #888;
  }

  .input-style{
    background-color: rgba(31, 29, 43, 0.08);
    border: none;
    color: white;
    
  }

 

  